.icon {
  height: 24px;
  width: 24px;
}

.pinterest {
  fill: #e60023;
}

.icons {
  position: relative;
  padding: 10px;
  border-radius: 12px;
}

.icons:hover {
  background-color: #f0f0eb;
  cursor: pointer;
}

.label {
  position: absolute;
  left: 100%;
  margin-left: 10px;
  background-color: black;
  color: white;
  padding: 6px 12px;
  border-radius: 6px;
  font-size: 12px;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.icons:hover .label {
  opacity: 1;
}

nav {
  height: 100vh;
}

#icons-list {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: space-around;
}
